h1 {
		font-family: Arial, sans serif;
		font-weight: bold;
		font-size: 48px;
		color: #E84C1A;
}
		body {
	background: url("http://imgur.com/gallery/3QNoRCj");
}
h2	{font-size: 40px;
}
#second {
	font-size=48
}

h3,	{
	font-family: helvetica;
	font-size: 16px;
	color: #5175FF;
	} 

p {
	color: black;
}