h1 {
		font-family: Helvetica;   
		font-weight: bold;
		font-size: 50px;
		color: #E84C1A;
		text-transform: uppercase;
		text-align: center;
}
body {
	text-align: center;
	background: url("images/brownsugarhome.png");
	background-size: cover;
}
h2	{
	font-size: 40px;

#slogan {
	font-size: 36px;
	font-weight: bold;
	font-style: italic;
	color: ;
}
h3	{
	font-family: helvetica;
	font-size:24px;
	color: #5175FF;
} 
p {
	color: black;
	font-size: 18;
.important {
	font-size: 36px;
	color: #e84c1a;
}
a {
	font-style: italic;
	text-decoration: none;
	font-size: 16;
	color: blue;
}